numpy
opencv-python
tifffile
pillow
pandas
scikit-learn
pyyaml
tensorboard
# PyTorch com CUDA (instalar com:
#   pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121)
torch
torchvision
timm
